.right-sidebar{
    display: flex;
    flex-direction: column;
    height: 545px;
    width:300px;
    font-size: 12px;
    z-index: 100;
}

.account{
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
}


.suggested-accounts-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px; 
}
    
.suggested-accounts-container{
    flex-direction: column;
}

.profile-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
    


.name-username{ 
    display: flex;
    flex-direction: column;
}
.name{
    color:rgb(182, 180, 180);
}

.username{
    font-weight: bolder;
}

.switch-button {
    border-style: none;
    background-color: white;
    font-weight: bolder;
    font-size: 12px;
    color: rgb(0, 149, 246);
    transition: color 0.15s;
}


.switch-button:hover{
    color: rgb(0,55,107);
 
}

.suggested-accounts-text{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-right:5px;
}

.suggested-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:10px;
}


